<a href="https://colab.research.google.com/github/raiaiaia/pandasLibrary/blob/master/pandasLibrary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Análise de Dados com Pandas**

#O que é Pandas? Para que serve?

<img src="https://camo.githubusercontent.com/5cb734f6fc37f645dc900e35559c60d91cc6b550/68747470733a2f2f6465762e70616e6461732e696f2f7374617469632f696d672f70616e6461732e737667" width=400 >

Pandas é uma biblioteca, de alta performance, da linguagem de programação Python. É utilizada para Análise de Dados e foi criada em 2008 pela necessidade de se ter uma ferramenta que realizasse análise quantitativa em dados financeiros. Com ela podemos lidar com grandes conjuntos de dados: fazendo operações; plotando gráficos, entre outros.

#Primeiros Passos

Importando a biblioteca:

In [4]:
import pandas as pd

<img src="https://media.giphy.com/media/EPcvhM28ER9XW/giphy.gif" width=400 >

#**Series e DataFrame**

Antes de tudo precisamos entender o que são essas Estruturas de Dados, para poder utilizar a biblioteca.

**Series** são arrays de 1 dimensão, ou melhor dizendo, uma tabela com uma única coluna.

In [7]:
#criando uma Series
s = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])

s.head()

a    1
b    2
c    3
d    4
dtype: int64

**DataFrames** ou **Datasets** são um conjunto de dados de 2 dimensões, podendo ser considerado um conjunto de Series, ou melhor dizendo, uma tabela com várias colunas.

In [9]:
#criando um dicionário com vários valores 
data = {
'País': ['Bélgica', 'Índia', 'Brasil'],
'Capital': ['Bruxelas', 'Nova Delhi', 'Brasília'],
'População': [123465, 456789, 987654]
}

#criando o DataFrame

df = pd.DataFrame(data, columns=['País','Capital','População'])

df

      País     Capital  População
0  Bélgica    Bruxelas     123465
1    Índia  Nova Delhi     456789
2   Brasil    Brasília     987654

**Agora que já sabemos a diferença, vamos importar um conjunto de dados!!**