<a href="https://colab.research.google.com/github/raiaiaia/pandasLibrary/blob/master/pandasLibrary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Análise de Dados com Pandas**

#O que é Pandas? Para que serve?

<img src="https://media.giphy.com/media/EPcvhM28ER9XW/giphy.gif" width=400 >

Pandas é uma biblioteca, de alta performance, da linguagem de programação Python. É utilizada para Análise de Dados e foi criada em 2008 pela necessidade de se ter uma ferramenta que realizasse análise quantitativa em dados financeiros. Com ela podemos lidar com grandes conjuntos de dados: fazendo operações; plotando gráficos, entre outros.

#Primeiros Passos

Importando a biblioteca:

In [4]:
import pandas as pd

#**Series e DataFrame**

Antes de tudo precisamos entender o que são essas Estruturas de Dados, para poder utilizar a biblioteca.

**Series** são arrays de 1 dimensão, ou melhor dizendo, uma tabela com uma única coluna.

In [7]:
#criando uma Series
s = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])

s.head()

a    1
b    2
c    3
d    4
dtype: int64

**DataFrames** ou **Datasets** são um conjunto de dados de 2 dimensões, podendo ser considerado um conjunto de Series, ou melhor dizendo, uma tabela com várias colunas.

In [9]:
#criando um dicionário com vários valores 
data = {
'País': ['Bélgica', 'Índia', 'Brasil'],
'Capital': ['Bruxelas', 'Nova Delhi', 'Brasília'],
'População': [123465, 456789, 987654]
}

#criando o DataFrame
df = pd.DataFrame(data, columns=['País','Capital','População'])

df

      País     Capital  População
0  Bélgica    Bruxelas     123465
1    Índia  Nova Delhi     456789
2   Brasil    Brasília     987654

**Agora que já sabemos a diferença, vamos importar um conjunto de dados!!**

Geralmente o arquivo a ser manipulado é do tipo *csv*, do mesmo tipo de arquivo de uma tabela no excel.

#Importando e abrindo um arquivo CSV

Para ficar mais fácil, recomendo colocar os arquivos no Google Drive. Para poder utilizá-los aqui no Colab, precisamos importá-lo também.

In [10]:
#importanto o google drive no colab
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [12]:
#abrindo o arquivo com o diretório de onde ele se encontra no drive
df = pd.read_csv ('/content/drive/My Drive/IFPB/dataGraf2.csv')

#lendo os primeiros 5 valores do DataFrame
df.head()

    data  positivo  negativo  neutro
0  08/05       104        43     577
1  09/05        72        44     416
2  10/05        32        25     305
3  11/05        25        15     208
4  12/05        11         5      86

In [13]:
#lendo mais de 5 valores do DataFrame

df

     data  positivo  negativo  neutro
0   08/05       104        43     577
1   09/05        72        44     416
2   10/05        32        25     305
3   11/05        25        15     208
4   12/05        11         5      86
5   13/05        25        23     202
6   14/05       400       505    4770
7   15/05       752       888    8702
8   16/05       697       814    7618
9   17/05        70        65     580
10  18/05        19        23     192
11  19/05        29        23     294
12  20/05        22        18     221
13  21/05        26        21     199
14  22/04        21        15     219
15  23/05        19         8     154
16  24/05        19        13     134
17  25/05        19        10     133
18  26/05      1028       573    6715
19  27/05       976       527    6150
20  28/05       167        86    1058
21  29/05       595       728    7095
22  30/05       729       827    8296
23  31/05       221       254    2242
24  01/06        15        13     191
25  02/06         5         7      90
26  03/06         6         3     122
27  04/06        13        14     123
28  05/06        21         8      91
29  06/06        20        19     106
30  07/06         7        10      78
31  08/06        10         6      62
32  09/06         2         4      32
33  10/06         4         4      52
34  11/06        13         9      89
35  12/06         5         2      52
36  13/06         7         4      62
37  14/06        18         5     148
38  15/06         7         4      44
39  16/06         4         3      11
40  17/06         3         2      23
41  18/06         1         2      25
42  19/06         2         4      25
43  20/06         3         2      19
44  21/06         3         1      10
45  22/06         0         2       9
46  23/06         0         0      19
47  24/06         3         2      29
48  25/06        16         6      83
49  26/06         8         4      65
50  27/06        16         9     127
51  28/06        18         6      59
52  29/06        57        15     321
53  30/06       127        73     809
54  01/07         1         1       6
55  02/07         2         0      13
56  03/07         0         4      11
57  04/07         2         1       6
58  05/07         1         0       6

<img src="https://camo.githubusercontent.com/5cb734f6fc37f645dc900e35559c60d91cc6b550/68747470733a2f2f6465762e70616e6461732e696f2f7374617469632f696d672f70616e6461732e737667" width=400 >